/*NAVBAR CONFIGURATION*/
.navbar {
    padding: 5px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}

/*REMOVE THE UNDERLINE FOR LINKS TAGS*/
.nav-link {
    text-decoration: none;
}

/*BODY BACKGROUND*/
.black-color-ground {
    background: linear-gradient(360deg, #000000, #484848) fixed;     
}

/*TITLE WITH DARKRED UNDERLINE*/
.titles-underline {
    color: white;
    box-shadow: 0px 3px 0px darkred;
}

/*TITLE WITH BLACK SHADOW*/
.titles-shadow-black {
    text-shadow: 2px 3px 0px black;
    color: white;
}

/*TITLE WITH DARKRED SHADOW*/
.titles-shadow {
    text-shadow: 2px 3px 0px darkred;
    color: white;
}

/*LINK DEL NAVBAR*/
.navlink-effect {
    margin-left: 10px;
    text-shadow: 2px 3px 0px darkred;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}

.navlink-effect:hover {
    text-shadow: 2px 3px 5px black;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: darkred;
    transition: 0.4s;
    box-shadow: 0px 3px 5px black;
}

/*LINK NAVBAR DELLA PAGINA CORRENTE*/
.nav .current {
    color: darkred;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #1f1616;
}

.current:hover {
    color: darkred;
}

.current:visited {
    color: darkred;
}

.navlink-effect:visited {
    color: white;
    border-color: black;
}

/*PULSANTE LOG-OUT*/
.log-out {
    border: 5px;
    background-color: darkred;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px black;
    border: 1px solid transparent;
    margin-left: 10px;
}

.log-out:hover {
    background-color: black;
    color: white;
}

/*PULSANTE VOTI*/
.button-votes {
    border: 5px;
    background-color: darkred;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px black;
    border: 1px solid transparent;
    margin-left: 10px;
}

.button-votes:hover {
    background-color: black;
    color: white;
    transition: 0.4s;  
}

.rounded-background-color {
    border: 1px solid black;
    background-color: darkred;
    box-shadow: 0px 3px 5px black;
    color: white;
}


/*MAIL TEXT EFFECT*/
.mailto-text {
    color: white;
    text-decoration: none;
}

.mailto-text:hover {
    text-shadow: 0px 5px 5px black;
    color: white;
    transition: 0.4s;
}

/*FONT STYLE*/
.font-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  word-spacing: 2px; letter-spacing: 2px;
    color: white;
}
